@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}


.header{
    border: solid 1px green;
    flex: 2 2;
}

.main{
    border: solid 1px yellow;
    margin: 0 20px;
    
    display: flex;
    justify-content: space-around;
    flex: 12 1;
    
}

.options{
    border: solid 1px red;
}

.board{
    border: solid 1px blue;
    font-size: 4px;
}

.grid{
    border: solid 2px pink;
    padding: 20px;

    width: 500px;
    height: 500px;
    min-height: 100%;

    display: grid;
}


.cell{
    border: 0.25px solid rgb(202, 198, 198);
}

.cell.colored{
    background-color: black;
}

.footer{
    border: solid 1px gold;

    font-size: 16px;
    font-weight: bold;
    text-align: center;

    flex: 1 10;
}


