@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root{
    --colored-cell-color: black;
}

body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}


.header{
    text-align: center;
    padding-top: 15px;
    flex: 2 2;
}

.main{
    margin: 0 20px;
    
    display: flex;
    justify-content: center;
    gap: 30px;
    flex: 12 1;
    
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options-buttons{
    background-color: rgb(215, 236, 248);
    margin: 20px 10px 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    font-weight: bold; 
}

.pick-color-container{
    font-size: 20px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    align-items: center;    
}


.pick-color-container > label{
    margin-top: 10px;
    text-align: center;
}

#color-picker{
    padding: 2px;
}

.change-face-size{

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.change-face-size > label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.board{
    font-size: 4px;
}

.grid{
    padding: 20px;

    width: 500px;
    height: 500px;
    min-height: 100%;

    display: grid;
}


.cell{
    border: 0.25px solid rgb(202, 198, 198);
}

.colored{
    background-color: var(--colored-cell-color);
}

.footer{
    font-size: 16px;
    font-weight: bold;
    text-align: center;

    flex: 1 10;
}


